---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
    <Header />
    <main class="container py-8 flex-1 flex items-center justify-center">
        <div class="flex flex-col gap-5 mb-4 justify-center text-center items-center">
            <div class="text-center mb-8">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="120" height="120" x="0" y="0" viewBox="0 0 511 511" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path d="M474.2 159.5c0-28.757-23.53-55.29-66.256-74.71-14.986-6.812-31.768-12.496-49.841-16.969C340.541 26.595 300.37 0 255.5 0s-85.041 26.595-102.604 67.821c-18.073 4.473-34.854 10.157-49.84 16.969C60.33 104.21 36.8 130.743 36.8 159.5c0 38.539 43.212 73.023 113.351 90.967l-27.107 109.962C112.21 362.518 104 372.066 104 383.5c0 12.958 10.542 23.5 23.5 23.5s23.5-10.542 23.5-23.5c0-9.19-5.306-17.16-13.012-21.021l38.748-157.184-14.564-3.59-4.69 19.026c-4.232-4.363-6.481-8.882-6.481-13.231 0-13.663 21.837-28.437 56.704-35.787l-24.156 97.992 14.564 3.59 25.713-104.306c9.841-1.277 20.446-1.989 31.675-1.989 10.967 0 21.337.68 30.983 1.901l29.734 120.621 14.564-3.59-28.193-114.369C337.869 178.861 360 193.745 360 207.5c0 4.349-2.249 8.868-6.481 13.231l-4.69-19.026-14.564 3.59L405.927 496H105.073l18.416-74.705-14.564-3.59L85.927 511h339.146l-64.224-260.533C430.989 232.522 474.2 198.038 474.2 159.5zM255.5 15c35.076 0 66.832 18.781 83.854 48.707C313.139 58.655 284.753 56 255.5 56s-57.639 2.655-83.854 7.707C188.667 33.781 220.423 15 255.5 15zm-128 377c-4.687 0-8.5-3.813-8.5-8.5s3.813-8.5 8.5-8.5 8.5 3.813 8.5 8.5-3.813 8.5-8.5 8.5zm210.15-225.335C315.584 157.208 286.409 152 255.5 152s-60.084 5.208-82.15 14.665C149.264 176.987 136 191.49 136 207.5c0 7.317 2.846 17.552 15.055 27.701C90.407 219.095 51.8 189.916 51.8 159.5c0-22.202 20.944-44.456 57.462-61.055C148.199 80.747 200.134 71 255.5 71s107.301 9.747 146.237 27.445c36.519 16.599 57.463 38.853 57.463 61.055 0 30.416-38.607 59.595-99.255 75.701C372.153 225.052 375 214.817 375 207.5c0-16.01-13.265-30.513-37.35-40.835z" fill="currentColor" opacity="1" data-original="currentColor" class=""></path><path d="M215.5 296h16v15h-16zM247.5 296h16v15h-16zM279.5 296h16v15h-16zM168 327.5V383h32v40.5h15v-96h-15V368h-17v-40.5zM296 327.5V383h32v40.5h15v-96h-15V368h-17v-40.5zM232 423h47v-95h-47zm15-80h17v65h-17zM103.5 136C90.542 136 80 146.542 80 159.5S90.542 183 103.5 183s23.5-10.542 23.5-23.5-10.542-23.5-23.5-23.5zm0 32c-4.687 0-8.5-3.813-8.5-8.5s3.813-8.5 8.5-8.5 8.5 3.813 8.5 8.5-3.813 8.5-8.5 8.5zM255.5 88c-12.958 0-23.5 10.542-23.5 23.5s10.542 23.5 23.5 23.5 23.5-10.542 23.5-23.5S268.458 88 255.5 88zm0 32c-4.687 0-8.5-3.813-8.5-8.5s3.813-8.5 8.5-8.5 8.5 3.813 8.5 8.5-3.813 8.5-8.5 8.5zM167.5 104c-12.958 0-23.5 10.542-23.5 23.5s10.542 23.5 23.5 23.5 23.5-10.542 23.5-23.5-10.542-23.5-23.5-23.5zm0 32c-4.687 0-8.5-3.813-8.5-8.5s3.813-8.5 8.5-8.5 8.5 3.813 8.5 8.5-3.813 8.5-8.5 8.5zM407.5 183c12.958 0 23.5-10.542 23.5-23.5S420.458 136 407.5 136 384 146.542 384 159.5s10.542 23.5 23.5 23.5zm0-32c4.687 0 8.5 3.813 8.5 8.5s-3.813 8.5-8.5 8.5-8.5-3.813-8.5-8.5 3.813-8.5 8.5-8.5zM343.5 104c-12.958 0-23.5 10.542-23.5 23.5s10.542 23.5 23.5 23.5 23.5-10.542 23.5-23.5-10.542-23.5-23.5-23.5zm0 32c-4.687 0-8.5-3.813-8.5-8.5s3.813-8.5 8.5-8.5 8.5 3.813 8.5 8.5-3.813 8.5-8.5 8.5zM431.5 79c12.958 0 23.5-10.542 23.5-23.5S444.458 32 431.5 32 408 42.542 408 55.5 418.542 79 431.5 79zm0-32c4.687 0 8.5 3.813 8.5 8.5s-3.813 8.5-8.5 8.5-8.5-3.813-8.5-8.5 3.813-8.5 8.5-8.5zM104 63.5h15V47h16.5V32H119V15.5h-15V32H87.5v15H104zM439 255.5h-15V272h-16.5v15H424v16.5h15V287h16.5v-15H439z" fill="currentColor" opacity="1" data-original="currentColor" class=""></path></g></svg>
            </div>
            <!-- <div class="text-center text-4xl font-extrabold">404</div> -->
            <p class="text-lg">This page doesn't seem to exist.</p>
            <div>
                <a
                    href="/"
                    class="inline-block disabled:shadow-none disabled:opacity-70 disabled:active:scale-100 border-0 bg-gray-100 rounded-md py-2 px-8 text-sm items-center gap-1 shadow-sm dark:bg-gray-800 hover:bg-gray-200 dark:hover:bg-gray-700 active:scale-95"
                    type="button"
                >
                    <span>Go Back</span>
                </a>
            </div>
        </div>
    </main>
    <Footer />
</Layout>

<style></style>
