---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Categories from '../components/Categories.astro';
import Lists from '../components/Lists.astro';
import Search from '../components/Search.astro';
import Count from '../components/Count.astro';
---

<Layout>
    <Header />
    <div class="bg-white pt-16 pb-4 dark:bg-black/50">
        <div class="flex flex-col gap-5 mb-4 items-center">
            <a href="https://www.producthunt.com/posts/gpts-url?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-gpts&#0045;url" target="_blank"><img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=425379&theme=light" alt="GPTs&#0032;URL - With&#0032;GPTs&#0032;Url&#0044;&#0032;you&#0032;can&#0032;discover&#0032;the&#0032;best&#0032;GPTs&#0032;in&#0032;GPT&#0032;store | Product Hunt" style="width: 250px; height: 54px;" width="250" height="54" /></a>
            <h1 class="text-4xl font-bold tracking-tight lg:text-5xl lg:leading-[3.5rem]">Discover Amazing GPTs</h1>
        </div>
        <Count />
        <Search />
    </div>
    <main class="container pt-0 pb-8 flex-1">
        <Categories />
        <Lists />
    </main>
    <Footer />
</Layout>

<style></style>
