---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Lists from '../components/Lists.astro';
import Count from '../components/Count.astro';
---

<Layout>
    <Header />
    <main class="container py-8">
        <h1 class="text-4xl font-bold tracking-tight lg:text-5xl lg:leading-[3.5rem] mb-6">Biggest GPTs Store</h1>
        <Count />
        <Lists />
    </main>
    <Footer />
</Layout>

<style></style>
