---
---

<footer class="border-t bg-white dark:bg-black/50 dark:border-black">
    <div class="container py-4 flex gap-3 flex-col text-center text-xs opacity-90 md:text-sm md:flex-row">
        <span>©2023 GPTsURL</span>
        <div class="flex gap-3 justify-center">
            <a href="/terms/privacy-policy">Privacy Policy</a>
            <a href="/terms/terms-of-service">Terms of Service</a>
            <a href="https://shoteasy.fun/" target="_blank" rel="noopener noreferrer" class="bg-purple-500/20 rounded-md px-1">Shot Easy</a>
        </div>
        <div class="flex-1 md:text-right">
            <span class="text-gray-500">Credit to </span><a href="https://www.gptshunter.com/" target="_blank" rel="noopener noreferrer">GPTsHunter</a>
        </div>
    </div>
</footer>