---
---

<footer class="border-t bg-white dark:bg-black/50 dark:border-black">
    <div class="container py-4 flex gap-3 flex-col justify-between text-sm opacity-90 md:flex-row">
        <span>©2023 GPTsUrl</span>
        <div class="flex gap-4 md:gap-3">
            <a href="/terms/privacy-policy">Privacy Policy</a>
            <a href="/terms/terms-of-service">Terms of Service</a>
        </div>
    </div>
</footer>