---
import Themetoggle from './Themetoggle.astro';
---

<header class='w-full bg-white pt-3 dark:bg-black/50 md:pt-0'>
    <div
        class='container flex flex-col items-center space-x-4 md:h-12 md:flex-row'
    >
        <div class='flex gap-3 items-center flex-col md:justify-between md:flex-row'>
            <a class='flex items-center space-x-2' href='/'>
                <img src="/logo.png" class="w-6 h-6" alt="" />
                <span class='inline-block font-bold text-xl'>GPTs URL</span>
            </a>
            <div class="text-xs text-muted-foreground text-center md:text-left">Browse the biggest GPT directory in internet. Updated daily.</div>
        </div>
        <div class="flex-1 flex gap-6 text-sm items-center justify-end md:gap-3">
            <a href="https://chat.openai.com/g/g-RftUD9scf-gpts-url" target="_blank" aria-label="chatGPT GPTs URL" class="hover:text-[#0b7b94]">GPTs</a>
            <a href="https://twitter.com/LiWen563" target="_blank" aria-label="twitter:@LiWen563" class="hover:text-[#0b7b94]">
                <svg fill="currentColor" viewBox="0 0 24 24" width="16" height="16" aria-hidden="true"><g><path d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"></path></g></svg>
            </a>
            <Themetoggle />
        </div>
    </div>
</header>