---
export interface Props {
  icon: string;
  title: string
}

const { icon, title } = Astro.props;
---
{
    icon ? <img loading="lazy" decoding="async" class="flex w-12 h-12 lg:w-20 lg:h-20 rounded-full flex-shrink-0 bg-gray-100 overflow-hidden dark:bg-gray-800" src={icon} alt={title} onerror="this.src='/none.png'"> :
    <div class="flex w-12 h-12 lg:w-20 lg:h-20 items-center justify-center rounded-full flex-shrink-0 bg-gray-100 overflow-hidden dark:bg-gray-800">
        <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="text-token-secondary h-2/3 w-2/3" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"></path><polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline><line x1="12" y1="22.08" x2="12" y2="12"></line></svg>
    </div>
}